[submodule "Sharp.Xmpp"]
	path = Sharp.Xmpp
    url = https://github.com/TheOpenFlare/Sharp.Xmpp.git
	branch = master
[submodule "notifyicon-wpf"]
	path = notifyicon-wpf
    url = https://github.com/TheOpenFlare/notifyicon-wpf.git
	branch = master
[submodule "OpenFlareSetup"]
	path = OpenFlareSetup
	url = https://github.com/TheOpenFlare/OpenFlareSetup.git
	branch = master
