[submodule "Sharp.Xmpp"]
	path = Sharp.Xmpp
    url = git@github.com:TheOpenFlare/Sharp.Xmpp.git
	branch = master
[submodule "notifyicon-wpf"]
	path = notifyicon-wpf
    url = git@github.com:TheOpenFlare/notifyicon-wpf.git
	branch = master